<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="zli_gusi">
    <meta charset="UTF-8">
    <meta name="description" content="new second hand shop for you ">
    <meta name="keywords" content="shoe, jacet, cheep cloth">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{%static ''%}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
        </div>

        <div class="basket">
            <a href="{% url 'basket' %}"><i class="fa-solid fa-cart-shopping"></i>Basket</a>
        </div>

        <div class="user_login">
            <a href=""><li><i class="fa-solid fa-user"></i>login</li></a>
            <a href=""><li><i class="fa-solid fa-user-plus"></i>Register</li></a>
        </div>
        
    </header>

    <aside>
        <!--LOGO-->


        <ul>
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house"></i>Home</li></a>
            <a href="{% url 'basket' %}"><li><i class="fa-solid fa-cart-shopping"></i>Basket</li></a>
            <a href="{% url 'about' %}"><li><i class="fa-solid fa-circle-info"></i>About</li></a>
            <li><details><summary><i class="fa-solid fa-address-block">Contact</summary>
                <ul>
                    <a href="https://t.me/@Gufjvuk"><li><i class="fa-brands fa-telegram">Telegram</i></a></li>
                    <a href=""><li><i class="fa-brands fa-whatsapp">WhatsApp</i></a></li>
                    <a href=""><li><i class="fa-brands fa-viber">Viber</i></a></li><br>
                    <a href=""><li><i class="fa-solid fa-phone">"+380(97)-000-00-00"</i></li></a>
                    <a href=""><li><i class="fa-solid fa-phone">"+380(73)-000-00-00"</i></li></a>
                    <a href=""><li><i class="fa-solid fa-phone">"+380(50)-000-00-00"</i></li></a>
                </ul>
            </details></li>
        </ul>
        
    </aside>
    {% block content %}{% endblock %}
</body>
</html>